<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register</servlet-name>
        <jsp-file>/WEB-INF/jsp/account/register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/account/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>login</servlet-name>
        <jsp-file>/WEB-INF/jsp/account/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/account/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>login_action</servlet-name>
        <jsp-file>/WEB-INF/jsp/account/login_action.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_action</servlet-name>
        <url-pattern>/account/login_action</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register_action</servlet-name>
        <jsp-file>/WEB-INF/jsp/account/register_action.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>register_action</servlet-name>
        <url-pattern>/account/register_action</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <jsp-file>/WEB-INF/jsp/account/logout_action.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/account/logout_action</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>blog_list</servlet-name>
        <jsp-file>/WEB-INF/jsp/blogs/blog_list.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>blog_list</servlet-name>
        <url-pattern>/blogs/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>blog_search</servlet-name>
        <jsp-file>/WEB-INF/jsp/blogs/blog_search.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>blog_search</servlet-name>
        <url-pattern>/blogs/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>blog_view</servlet-name>
        <jsp-file>/WEB-INF/jsp/blogs/blog_view.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>blog_view</servlet-name>
        <url-pattern>/blogs/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>blog_retrieve</servlet-name>
        <jsp-file>/WEB-INF/jsp/blogs/blog_retrieve.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>blog_retrieve</servlet-name>
        <url-pattern>/blogs/retrieve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>blog_create</servlet-name>
        <jsp-file>/WEB-INF/jsp/blogs/blog_create.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>blog_create</servlet-name>
        <url-pattern>/blogs/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>blog_create_action</servlet-name>
        <jsp-file>/WEB-INF/jsp/blogs/blog_create_action.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>blog_create_action</servlet-name>
        <url-pattern>/blogs/create_action</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>blog_update</servlet-name>
        <jsp-file>/WEB-INF/jsp/blogs/blog_update_action.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>blog_update</servlet-name>
        <url-pattern>/blogs/update_action</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sec_demo</servlet-name>
        <jsp-file>/WEB-INF/jsp/demo/demo_links.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sec_demo</servlet-name>
        <url-pattern>/demo/links</url-pattern>
    </servlet-mapping>
</web-app>